{% extends 'Base.html' %}

{% block content%}

{% load static %}



<!-- Gallery -->
  <section class="gallery p-5">
      <div class="container">
        <!-- title -->
        <div class="row">
          <div class="col text-center py-5">
            <h1 class="text-secondary font-italic common-title">Collections</h1>
          </div>
        </div>
        <!-- end of title -->
      </div>
    </section>
  <!-- end of Gallery -->







      <!-- end of Team -->


<!--footer-->

  <footer>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-primary font-weight-bold text-capitalize p-3">Artique Fashion Boutique LLC</h1>
                    <h4 class="text-secondary font-weight-light font-italic mb-3">Shop No. 4, Bldg. No. 37, Behind Al Dhafra International School</h4>
                    <h4 class="text-secondary font-weight-light font-italic mb-3">Shabia 9, Musaffah, Abu Dhabi, UAE</h4>
                    <div class="py-2">
                        <i class="fa fa-phone fa-2x " aria-hidden="true"></i>0562582868
                       <a href="https://www.facebook.com/ArtiqueFashions"><i class="fab fa-facebook-square fa-2x text-primary mx-3"></i></a>                       
                        
                        <a href="https://www.instagram.com/artique_fashion"><i class="fab fa-instagram fa-2x text-danger mx-3"></i></a>
                    </div>
                    <p class="text-light py-4 m-0">&copy;Copyright 2018 - Made by CodeAndCreate</p>
                </div>
            </div>
        </div>
     </footer>
<!--end of footer-->


{% endblock%}