{% extends 'Base.html' %}

{% block content%}

{% load static %}


<!-- contact -->

<section class="p-sm-5 p-2 bg-light">
      <div class="container">
        <!-- title -->
        <div class="row">
          <div class="col text-center py-3">
          </div>
        </div>
        <!-- end of title -->
      </div>
    </section>

<!-- Cart Header -->
 <section class="p-sm-5 p-2 bg-light">
      <div class="container">
        <!-- title -->
        <div class="row">
          <div class="col text-center py-3">
            <h1 class="text-secondary font-italic common-title">No items found in the Cart </h1>
          </div>
        </div>
        <!-- end of title -->
      </div>
    </section>


 <section class="p-sm-5 p-2 bg-light">
      <div class="container">
        <!-- title -->
        <div class="row">
          <div class="col text-center py-3">
          </div>
        </div>
        <!-- end of title -->
      </div>
    </section>

 <section class="p-sm-5 p-2 bg-light">
      <div class="container">
        <!-- title -->
        <div class="row">
          <div class="col text-center py-3">
          </div>
        </div>
        <!-- end of title -->
      </div>
    </section>

  <footer>
        <div class="container-fluid">
          <div class="row">
           
            <div class="col text-center">
                    <h1 class="text-warning font-weight-bold text-capitalize p-3">Artique Fashion Boutique LLC</h1>
                    <h4 class="text-secondary font-weight-light font-italic mb-3">Shop No. 4, Bldg. No. 37, Behind Al Dhafra International School</h4>
                    <h4 class="text-secondary font-weight-light font-italic mb-3">Shabia 9, Musaffah, Abu Dhabi, UAE</h4>
                    <div class="py-2">
                        <i class="fa fa-phone fa-2x " aria-hidden="true"></i>0562582868
                     <a href="https://www.facebook.com/ArtiqueFashions"><i class="fab fa-facebook-square fa-2x text-primary mx-3"></i></a>                       
                        
                        <a href="https://www.instagram.com/artique_fashion"><i class="fab fa-instagram fa-2x text-danger mx-3"></i></a>
                    </div>
                    <p class="text-light py-4 m-0">&copy;Copyright 2018 - Made by CodeAndCreate</p>                
            </div>
          
        </div>
  </footer>
<!--end of footer-->


 
{% endblock%}

